<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Adventure Escape SA"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdventureEscapeSA">

        <!-- Home Screen -->
        <activity
            android:name=".HomeActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <!-- About Screen -->
        <activity
            android:name=".AboutActivity" />

        <!-- Overview Screen -->
        <activity
            android:name=".OverviewActivity" />

        <!-- Package Screens -->

        <activity
            android:name=".UltimateAdventureActivity" />

        <activity
            android:name=".FamilyExplorerActivity" />

        <activity
            android:name=".MountainAdventureActivity" />

        <activity
            android:name=".CorporateChallengeActivity" />

        <!-- Activity Screens -->

        <activity
            android:name=".ZipliningActivity" />

        <activity
            android:name=".KayakingActivity" />

        <activity
            android:name=".RockClimbingActivity" />

        <!-- Calculator -->

        <activity
            android:name=".FeeCalculatorActivity" />

        <!-- Contact -->

        <activity
            android:name=".ContactActivity" />

        <!-- Booking Confirmation -->

        <activity
            android:name=".BookingConfirmationActivity" />

        <!-- Optional MainActivity -->

        <activity
            android:name=".MainActivity" />

    </application>

</manifest>